<div class="panel panel-default panel-big-heading" id="currencies">
  <div class="panel-heading">
    Currencies
    <div class="pull-right">
      <%= link_to 'New currency', new_hq_currency_path, class: 'btn btn-primary btn-xs' %>
    </div>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>tx fee</th>
        <th>tx conf</th>
        <th class="text-right">wallet balance</th>
        <th class="text-right">balance diff</th>
        <th class="text-right">balances sum</th>
        <th class="text-right">neg balances sum</th>
        <th>version</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @currencies.each do |curr| -%>
      <% cache(curr, expires_in: 5.minutes) do -%>
        <tr class="<% unless curr.public %>text-muted<% end %>">
          <td><%= curr.id %></td>
          <td class="monospace"><%= curr.name %></td>
          <td><%= curr.tx_fee %></td>
          <td><%= curr.tx_conf %></td>
          <td class="text-right monospace"><small><%= curr.get_balance %></small></td>
          <td class="text-right monospace"><small><%= curr.balance_diff_neg %></small></td>
          <td class="text-right monospace"><small><%= curr.balance_sum %></small></td>
          <td class="text-right monospace"><small><%= curr.balance_sum_neg %></small></td>
          <td><small><%= curr.client_version %></small></td>
          <td class="text-right">
            <span class="btn-group">
              <%= link_to 'Edit', edit_hq_currency_path(curr), class: 'btn btn-xs btn-default' %>
              <% if curr.public -%>
                <%= link_to 'Disable', disable_hq_currency_path(curr), confirm: 'Sure?', class: 'btn btn-xs btn-danger' %>
              <% else -%>
                <%= link_to 'Enable', enable_hq_currency_path(curr), confirm: 'Sure?', class: 'btn btn-xs btn-success' %>
              <% end -%>
            </span>
          </td>
        </tr>
      <% end -%>
      <% end -%>
    </tbody>
  </table>

</div>

<div class="text-center"><%= will_paginate @currencies, renderer: BootstrapPagination::Rails %></div>
