{{#if currentUser.isSignedIn}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" id="login-menu-link">
      {{currentUser.nickname}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>{{#link-to 'balances'}}Balances{{/link-to}}</li>
      <li>{{#link-to 'workers'}}Workers{{/link-to}}</li>
      <li>{{#link-to 'accountSettings'}}Settings{{/link-to}}</li>
      {{#if currentUser.admin}}
        <li><a href="/hq">Admin</a></li>
      {{/if}}
      <li>{{#link-to 'changePassword'}}Change password{{/link-to}}</li>
      <li><a {{action 'logout'}}>Log out</a></li>
      {{#if currentUser.masq}}
        <li>
          <a {{bind-attr href=currentUser.masq}}>
            <strong>Back to admin</strong>
          </a>
        </li>
      {{/if}}
    </ul>
  </li>
{{else}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" id="login-menu-link">
      Sign In / Up
      <b class="caret"></b>
    </a>
    <div class="dropdown-menu pull-right shadow" id="login-dropdown-list">
      {{render 'common/login_box'}}
    </div>
  </li>
{{/if}}
