{{#if orders.length}}
<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">Your open orders</div>

  <table class="table table-condensed table-striped nomargin">
    <thead>
      <tr>
        <th>Type</th>
        <th>Price ({{pair.market.name}})</th>
        <th>{{pair.currency.name}}</th>
        <th>{{pair.market.name}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each order in orders}}
      <tr>
        <td>{{#if order.bid}}Buy{{else}}Sell{{/if}}</td>
        <td>{{round order.rate}}</td>
        <td>{{round order.unmatchedAmount}}</td>
        <td>{{noExp order.marketAmount}}</td>
        <td class="actions">
          <span class="pull-right">
            <button {{bind-attr class=":btn :btn-danger :btn-xs inProgress:disabled"}}
              {{action 'cancel' order}}>Cancel</button>
          </span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
{{/if}}
