{{#if trades.length}}
<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">
    {{#if own}}
      Your last
    {{else}}
      Last market
    {{/if}}
     trades
  </div>

  <div class="content scrollY">
    <table class="table table-condensed table-striped nomargin">
      <thead>
        <tr>
          <th>Time</th>
          <th>Price ({{pair.market.name}})</th>
          <th>{{pair.currency.name}}</th>
          <th>{{pair.market.name}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each trade in trades}}
          {{render 'trade' trade}}
        {{/each}}
      </tbody>
    </table>
  </div>

</div>
{{/if}}
