<div class="well well-small volume">
  Last 24hrs trade volume:
  {{addCommas pair.shortCurrVolume}} {{pair.currency.name}} /
  {{addCommas pair.shortMktVolume}} {{pair.market.name}}
    <div class="label label-success pull-right">
      24h High: {{round pair.rate_max}} {{pair.market.name}}
    </div>
    <div class="label label-danger pull-right">
      24h Low: {{round pair.rate_min}} {{pair.market.name}}
    </div>
</div>
