<div class="well well-small volume clearfix">
  Last 24hrs trade volume:
  {{round pair.currency_volume}} {{pair.currency.name}} /
  {{round pair.market_volume}} {{pair.market.name}}
  <div class="pull-right">
    <div class="label label-danger">
      Min: {{round pair.rate_min}} {{pair.market.name}}
    </div>
    <div class="label label-success">
      Max: {{round pair.rate_max}} {{pair.market.name}}
    </div>
  </div>
</div>
