<div class="panel panel-default panel-big-heading" id="users">
  <div class="panel-heading">
    Users
    <div class="pull-right" style="width: 300px;">
      <form class="form-inline" role="form">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="filter_query" class="form-control input-sm" value="<%= params[:filter_query]%>" placeholder="Filter users...">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm">Filter</button>
              <%= link_to 'Reset', hq_users_path, class: 'btn btn-default btn-sm' %>
            </span>
            <!-- <button class="btn btn-default">Reset</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>email</th>
        <th>nickname</th>
        <th>chat ban</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| -%>
      <% cache(user) do -%>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.nickname %></td>
          <td>
            <% if user.banned? -%>
              <span class="label label-danger">
                Expires in <%= time_ago_in_words(user.banned_until) %>
              </span>
            <% else -%>
              <span class="label label-success">Not banned</span>
            <% end -%>
          </td>
          <td class="text-right">
            <span class="btn-group">
              <% unless current_user == user -%>
                <%= link_to 'Sign in', masq_hq_user_path(user), class: 'btn btn-default btn-xs' %>
              <% end -%>
              <% if user.banned? -%>
                <%= link_to 'Unban', unban_hq_user_path(user), confirm: 'Sure?', class: 'btn btn-default btn-xs' %>
              <% else -%>
                <%= link_to 'Ban', ban_hq_user_path(user), confirm: 'Sure?', class: 'btn btn-default btn-xs' %>
              <% end -%>
              <% unless user.confirmed_at.present? -%>
                <%= link_to 'Resend confirm email', resend_confirmation_hq_user_path(user), confirm: 'Sure?', class: 'btn btn-default btn-xs' %>
              <% end -%>
              <a href="#" class="btn btn-default btn-xs">Audit</a>
            </span>

          </td>
        </tr>
      <% end -%>
      <% end -%>
    </tbody>
  </table>

</div>

<div class="text-center"><%= will_paginate @users, renderer: BootstrapPagination::Rails %></div>
