<table class="table table-striped balances">
  <thead>
    <tr>
      <th></th>
      <th>Coin</th>
      <th class="text-center">Deposit address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each currencies}}
    <tr {{bind-attr class="balance.negative:danger"}}>
      <td class="text-right monospace">{{round balance.amount}}</td>
      <td class="monospace">{{name}}</td>
      <td class="text-center">
        {{#if balance.deposit_address}}
        <span class="monospace">
          {{balance.deposit_address}}
        </span>
        {{else}}
          <button {{bind-attr class=":btn :btn-primary :btn-xs generating:disabled"}}
            {{action 'newAddress' this}}>Generate</button>
        {{/if}}
      </td>
      <td class="text-right">
        <button
          {{bind-attr class="balance.allowWithdraw::disabled :btn :btn-primary :btn-xs"}}
          {{action 'withdraw' this}}>Withdraw</button>
        {{#link-to 'balanceHistory' this class="btn btn-xs btn-default"}}
          Balance history
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{withdrawal-box user=currentUser currency=selectedCurrency store=store}}
