<div class="alert alert-info">
  <strong>Important:</strong>
  please do not use CoinEX deposit addresses as a target for P2Pool payouts.
  P2Pools generate uncommon transactions that do not include target address
  thus making us unable to identify account where those transactions should be credited to.
</div>
<table class="table table-striped balances">
  <thead>
    <tr>
      <th></th>
      <th>Coin</th>
      <th class="text-center">Deposit address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each controllers.currencies}}
    <tr {{bind-attr class="balance.negative:danger"}}>
      <td class="text-right monospace">{{round balance.firstObject.amount}}</td>
      <td class="monospace">{{name}}</td>
      <td class="text-center">
        {{#if balance.firstObject.deposit_address}}
        <span class="monospace">
          {{balance.firstObject.deposit_address}}
        </span>
        {{else}}
          <button {{bind-attr class=":btn :btn-primary :btn-xs generating:disabled"}}
            {{action 'newAddress' this}}>Generate</button>
        {{/if}}
      </td>
      <td class="text-right">
        <button
          {{bind-attr class="balance.firstObject.allowWithdraw::disabled :btn :btn-primary :btn-xs"}}
          {{action 'withdraw' this}}>Withdraw</button>
        {{#link-to 'balanceChanges' this class="btn btn-xs btn-default"}}
          Balance history
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{withdrawal-box user=currentUser currency=selectedCurrency store=store}}
