<h1 style="margin-top: 0px;">
{{currency.desc}} balance
<small>Find your {{currency.name}} balance details here.</small>
</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default panel-big-heading text-center">
      <div class="panel-heading">Available</div>
      <h3 class='monospace'>{{round currency.balance.firstObject.amount}} {{currency.name}}</h3>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default panel-big-heading text-center">
      <div class="panel-heading">Held for orders</div>
      <h3 class='monospace'>{{round currency.balance.firstObject.held}} {{currency.name}}</h3>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default panel-big-heading text-center">
      <div class="panel-heading">Total</div>
      <h3 class='monospace'>{{round currency.balance.firstObject.total}} {{currency.name}}</h3>
    </div>
  </div>
</div>

{{#if deposits.length}}
<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">Pending deposits</div>
  <div class="content">
    <div class="alert alert-info">
      {{currency.name}} deposits are credited to the account balance after
      <strong>{{currency.tx_conf}} confirmations</strong>.
    </div>
    <table class="table table-condensed table-striped nomargin">
      <thead>
        <th>ID</th>
        <th>Time</th>
        <th>Validity</th>
        <th class="text-center">TXID</th>
        <th class="text-right">Amount</th>
      </thead>
      <tbody>
      {{#each deposit in deposits}}
      <tr>
        <td>{{deposit.id}}</td>
        <td>{{view Cx.TimeagoView title=deposit.time}}</td>
        <td class="text-center">
          <span class="badge badge-warning">{{deposit.confirmations}}</span>
        </td>
        <td class="text-center">
          <small class="monospace">{{deposit.txid}}</small>
        </td>
        <td class="text-right monospace">
          {{round deposit.amount}} {{currency.name}}
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/if}}

<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">{{currency.name}} balance history</div>
  <div class="content">
    <table class="table table-condensed table-striped nomargin">
      <thead>
        <th>ID</th>
        <th>Time</th>
        <th>Details</th>
        <th class="text-right">Total balance</th>
      </thead>
      <tbody>
        {{#each item in controller}}
        <tr {{bind-attr class="item.positive:success:danger"}}>
          <td>{{item.id}}</td>
          <td>{{view Cx.TimeagoView title=item.time}}</td>
          <td>
            {{#if item.trade}}
              {{#if item.positive}}Bought{{else}}Sold{{/if}}
              {{round item.abs_total}} {{currency.name}}
              @ {{round item.vs_rate}} {{item.vs_currency}} each
            {{else}}
              {{item.source}}: {{round item.abs_amount}} {{currency.name}}
              {{#if item.withdrawal}}
                <div class="monospace small text-muted ellipsis">
                  Destination: {{item.address}}
                </div>
              {{/if}}
              {{#if item.txid}}
              <div class="monospace small text-muted ellipsis">
                TXID: {{item.txid}}
              </div>
              {{else}}
                {{#if item.withdrawal}}
                <div class="monospace small text-muted ellipsis">
                  TXID: pending
                </div>
                {{/if}}
              {{/if}}
            {{/if}}
          </td>
          <td class="text-right monospace">{{round item.t_total}} {{currency.name}}</td>
        </tr>
        {{else}}
          <tr>
            <td colspan="4" class="text-muted text-center">
              Nothing to show here yet...
            </td>
          </tr>
        {{/each}}
        {{#if loadingMore}}
          <tr>
            <td colspan="4" class="text-muted text-center">
              Loading more...
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
