<tr {{bind-attr class="positive:success:danger"}}>
  <td><small>{{id}}</small></td>
  <td>{{view Cx.TimeagoView title=time}}</td>
  <td>
    {{comment}}
    {{#if address}}
      <div class="monospace small text-muted ellipsis">
        Destination: {{address}}
      </div>
    {{/if}}
    {{#if txid}}
      <div class="monospace small text-muted ellipsis">
        TXID: {{txid}}
      </div>
    {{/if}}
  </td>
  <td class="text-right monospace">{{round t_total}} {{currency.name}}</td>
</tr>
