<tr {{bind-attr class="validityClass"}}>
  <td>
  {{#if orphan}}
    <span class="text-muted">N/A</span>
  {{else}}
    {{number}}
  {{/if}}
  {{#if switchpool}}
    <i class="fa fa-exchange" title="Found by SwitchPool"></i>
  {{/if}}
  </td>
  <td>{{validityMessage}}</td>
  <td>
    {{finder}}
  </td>
  <td>
    {{view Cx.TimeagoView title=time}}
  </td>
  <td>
  {{#if orphan}}
    <span class="text-muted">N/A</span>
  {{else}}
    {{round reward}}
  {{/if}}
  </td>
  {{#if currentUser.isSignedIn}}
    <td>
    {{#if payout}}
      {{#if currentUser.no_fees}}
        {{round payout.reward}}
      {{else}}
        {{round payout.reward_minus_fee}}
      {{/if}}
    {{else}}
      <span class="text-muted">N/A</span>
    {{/if}}
    </td>
  {{/if}}
</tr>
