<tr {{bind-attr class="validityClass"}}>
  {{#if switchpool}}
    <td class="monospace">{{currency.name}}</td>
  {{/if}}
  <td>
  {{#if orphan}}
    <span class="text-muted">N/A</span>
  {{else}}
    {{addCommas model.number}}
  {{/if}}
  </td>
  <td>{{validityMessage}}</td>
  <td>
    {{finder}}
  </td>
  <td>
    {{view Cx.TimeagoView title=time}}
  </td>
  <td>
  {{#if orphan}}
    <span class="text-muted">N/A</span>
  {{else}}
    {{roundAddCommas reward}}
  {{/if}}
  </td>
  {{#if currentUser.isSignedIn}}
    <td class="text-right">
    {{#if payout}}
      {{#if currentUser.no_fees}}
        {{roundAddCommas payout.reward}}
      {{else}}
        {{roundAddCommas payout.reward_minus_fee}}
      {{/if}}
      <span class="monospace">{{currency.name}}</span>
    {{else}}
      <span class="text-muted">N/A</span>
    {{/if}}
    </td>
  {{/if}}
</tr>
