<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">
    SHA256 mining pools
    <span class="pull-right">
<!--       <span class="badge badge-info">100</span> -->
      {{#if controllers.currencies.sha256Hashrate}}
      <span class="badge badge-success">{{hrate controllers.currencies.sha256Hashrate}}</span>
      {{/if}}
    </span>
  </div>
  <table class="table nomargin">
    <thead>
      <tr>
        <th>Coin</th>
        {{#if currentUser.isSignedIn}}
        <th>Your hashrate</th>
        {{/if}}
        <th>Pool Hashrate</th>
        <th>Net hashrate</th>
        <th>Net diff</th>
        <th>Last block</th>
      </tr>
    </thead>
    <tbody>
      {{#each curr in sha256Currencies}}
      <tr class="clickRow" {{action 'openStats' curr}}>
        <td class="monospace">{{curr.name}}</td>
        {{#if currentUser.isSignedIn}}
        <td>
          {{hrate curr.ownHashrate}}
        </td>
        {{/if}}
        <td>{{hrate curr.hashrate}}</td>
        <td>{{hrate curr.net_hashrate}}</td>
        <td>{{curr.diff}}</td>
        <td>{{view Cx.TimeagoView title=curr.last_block_time}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">
    Scrypt mining pools
    <span class="pull-right">
<!--       <span class="badge badge-info">100</span> -->
      {{#if controllers.currencies.scryptHashrate}}
      <span class="badge badge-success">{{hrate controllers.currencies.scryptHashrate}}</span>
      {{/if}}
    </span>
  </div>
  <table class="table nomargin">
    <thead>
      <tr>
        <th>Coin</th>
        {{#if currentUser.isSignedIn}}
        <th>Your hashrate</th>
        {{/if}}
        <th>Pool Hashrate</th>
        <th>Net hashrate</th>
        <th>Net diff</th>
        <th>Last block</th>
      </tr>
    </thead>
    <tbody>
      {{#each curr in scryptCurrencies}}
      <tr class="clickRow" {{action 'openStats' curr}}>
        <td class="monospace">{{curr.name}}</td>
        {{#if currentUser.isSignedIn}}
        <td>
          {{hrate curr.ownHashrate}}
        </td>
        {{/if}}
        <td>{{hrate curr.hashrate}}</td>
        <td>{{hrate curr.net_hashrate}}</td>
        <td>{{curr.diff}}</td>
        <td>{{view Cx.TimeagoView title=curr.last_block_time}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
