{{#unless currentUser.isSignedIn}}
<div class="jumbotron">
  <h1>CoinEX</h1>
  <p>
    Realtime exchange for the sake of alternative cryptocurrencies.
  </p>
  <p>
    <button class="btn btn-lg btn-primary" {{action 'openLoginMenu'}}>
      Sign in to start rocking
    </button>
  </p>
</div>
{{/unless}}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pair</th>
      <th>Last price</th>
      <th class="text-right">Volume</th>
      <th class="text-right pad-right">Market volume</th>
      <th>24h min price</th>
      <th>24h max price</th>
    </tr>
  </thead>
  <tbody>
  {{#each controllers.tradePairs}}
    <tr class="clickRow" {{action 'openPair' this}}>
      <td class="monospace">{{name}}</td>
      <td><small class="monospace">{{round last_price}}</small></td>
      <td class="text-right monospace">
        <small>{{addCommas shortCurrVolume}} {{currency.name}}</small></td>
      <td class="text-right monospace pad-right">
        <small>{{addCommas shortMktVolume}} {{market.name}}</small>
      </td>
      <td><small class="monospace">{{round rate_min}}</small></td>
      <td><small class="monospace">{{round rate_max}}</small></td>
    </tr>
  {{/each}}
  </tbody>
</table>
