<tr {{bind-attr class="bid:success:danger"}}>
  <td>{{view Cx.TimeagoView title=content.time}}</td>
  <td>{{round content.rate}}</td>
  <td>{{round content.amount}}</td>
  <td>{{round content.marketAmount}}</td>
</tr>
