<!-- volume ticker -->
{{volume-ticker pair=model}}

<!-- chart -->
{{chart-box pair=model}}

<!-- buy/sell forms -->
{{#if currentUser.isSignedIn}}
<div class="row">
  <div class="col-sm-6">
    {{trade-form buy=true pair=model user=currentUser}}
  </div>
  <div class="col-sm-6">
    {{trade-form buy=false pair=model user=currentUser}}
  </div>
</div>
{{/if}}

<!-- order books -->
<div class="row">
  <div class="col-sm-6">
    {{order-book buy=false pair=model user=currentUser orders=controllers.orders.ask}}
  </div>
  <div class="col-sm-6">
    {{order-book buy=true pair=model user=currentUser orders=controllers.orders.bid}}
  </div>
</div>

<!-- own orders -->
{{#if currentUser.isSignedIn}}
{{own-orders pair=model orders=controllers.orders.own}}
{{/if}}

<!-- recent trades -->
{{recent-trades pair=model trades=controllers.trades}}

<!-- recent own trades -->
{{#if currentUser.isSignedIn}}
{{recent-trades pair=model trades=controllers.trades.own own=true}}
{{/if}}
