<!DOCTYPE html>
<html>
<head>
  <title>Cx</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if current_user %>
    <meta name="current-user" content="<%= UserSerializer.new(current_user, root: false).to_json %>" />
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <% if Rails.env.production? %>
    <script>pusher = new Pusher('339899db7460f58950bd', {authEndpoint: '/pusher/auth'})</script>
  <% else %>
    <script>pusher = new Pusher('f432464ea002212eaf37', {authEndpoint: '/pusher/auth'})</script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
