<!DOCTYPE html>
<html>
<head>
  <title>CoinEx HQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "hq" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'hq/navbar' %>

<div class="container" id="hq">
<%= render partial: 'hq/messages' %>
<%= yield %>
</div>

</body>
</html>
